<!doctype html>
<html lang="en" ng-app="nsApp" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Nitespot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="apple-touch-icon.png"> 
        <link rel="stylesheet" href="assets/css/vendor.css"/>
        <link rel="stylesheet" href="assets/css/main.css"/>
        <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css"/>
        <style>[ng\:cloak], [ng-cloak], [data-ng-cloak],[x-ng-cloak],.ng-cloak, .x-ng-cloak {display: none !important;}</style>
    </head>
    <body ng-cloak>
        <toaster-container></toaster-container>
        <ns-nav></ns-nav>
        <ui-view></ui-view>
        <div class="ns-overlay" ns-overlay ng-show="showOverlay"> 
            <div class="x-overlay" ng-click="dismiss()">x</div>    
            <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div ng-if="showOverlay" ng-include="showOverlay"></div>
                </div>
            </div>
            </div>
        </div>
        <div id="ns-splash" ns-splash ng-class="{'show': location.pending}">
            <h4>Finding Nearby Spots</h4>
            <div id="container">
                <div class="dot"></div>
                <div class="ns-dot-pulse"></div>
            </div>    
        </div>
    <script src="assets/js/vendor.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>      
    <script src="assets/js/main.js"></script>
    <script src="assets/js/templates.js"></script>    
    </body>
</html>